@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&family=Work+Sans&display=swap');


body{
    font-family: "Work Sans", sans-serif;
    font-weight: 400;
    background-color: var(--cor-primaria);
}

.titulo-principal{
    font-family: "Fjalla One", sans-serif;
    font-weight: 400;
}