@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&family=Work+Sans&display=swap');

:root{
    --cor-primaria: #8b6e64;
    --cor-secundaria:  #f4f0EA;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Work Sans", sans-serif;
    font-weight: 400;
    background-color: var(--cor-primaria);
}

.container{
    width: 100%;
    max-width: 700px;
    margin: 0 auto;
}

.cabecalho{
    text-align: center;
    margin-bottom: 20px;
}

.cabecalho-imagem{
    width: 100px;
}

.cabecalho-titulo{
    font-family: "Fjalla One", sans-serif;
    font-weight: 400;
    color: var(--cor-secundaria);
}

.formulario{
    background-color: var(--cor-secundaria);
    padding: 15px;
    border-radius: 10px;
}

.formulario-grupo{
    padding: 15px;
    border: 2px solid var(--cor-primaria);
    border-radius: 5px;
    margin-bottom: 15px;
}

.formulario-legenda{
    font-weight: 700;
    font-size: 16px;
    color: var(--cor-primaria); 
    padding: 0 5px;
}
